<div class = 'col-md-6 offset-md-3'>
  <div class = 'jumbotron jumbotron-secondary'>
   <center> <h1>New Stock</h1>
    <%= render 'add_stock', stock: @stock %>
    <%= link_to 'Back', stocks_path %></center>
  </div>
</div>
