<div class = 'col-md-6 offset-md-3'>
  <div class = 'jumbotron jumbotron-secondary'>
    <%= render 'stock_form' %>
    
  </div>
    <%= @company.description %></br>
    Market Cap: $<%= number_with_precision(@ticker.market_cap, :precision => 2, :delimiter => ',')%></br>
</div>
